body {
  background-color: whitesmoke
}

.grid-container {
  display: inline-grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  /* background-color: gray; */
  padding: 20px;
}
.grid-item {
  /* border: 1px solid black; */
  padding: 6px;
}
.brush-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 20px;
}
.brush-item {
  padding: 20px;
}

.brusher {
  padding: 15px;
  width: 15px;
  height: 15px;
  border: 1px solid dimgray;
}
.selected {
  padding: 10px;
  width: 15px;
  height: 15px;
  border: 6px solid gold;
}

.canvas {
  /*
  width: 100px;
  height: 100px; */
  border: 1px solid lightgray;
}

.white {
  background-color: white
}
.red {
  background-color: red
}
.blue {
  background-color: blue
}
.lime {
  background-color: lime
}
.yellow {
  background-color: yellow
}
.black {
  background-color: black
}
.aqua {
  background-color: aqua
}
.magenta {
  background-color: magenta
}
.orange {
  background-color: orange
}
.green {
  background-color: green
}


/*
#canvas1 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
} */
